In [1]:
import sqlite3
import datetime as dt   
import time
import csv
import requests
import pandas as pd, numpy as np
import pprint
import matplotlib.pyplot as plt
import seaborn as sns
%pylab inline

Populating the interactive namespace from numpy and matplotlib

/Users/GGV/anaconda/envs/GGV_DASH/lib/python3.4/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [2]:
# helper functions

def sqlite_test():
	try:
		conn = sqlite3.connect('/Users/GGV/Desktop/mcdonald_listings.sqlite')
		c = conn.cursor()
		query = "select * from trafi limit 10 ;"
		df = pd.read_sql_query(query, conn)
		print (df)
		print ("Sqlite connect OK")
	except:
		print ("Sqlite connect failed")




def sqlite_query_df(query):
	try:
		conn = sqlite3.connect('/Users/GGV/Desktop/mcdonald_listings.sqlite')
		c = conn.cursor()
		df = pd.read_sql_query(query, conn)
		print ("Sqlite connect OK")
		return df 
	except:
		print ("Sqlite connect failed")

In [13]:
query= '''

select * 
FROM listings 
'''
listings = sqlite_query_df(query)

Sqlite connect OK

In [11]:
query= '''

select * 
FROM reviews 
'''
reviews = sqlite_query_df(query)

Sqlite connect OK

In [23]:
reviews.head(2)

       username  negative  neutral  positive
0  fionasohyuru         0        0        18
1    purple0603         0        0         9

In [22]:
listings.head(2)

,username,description,title,can_mail,price,meetup_details,can_meetup,likes,condition,meetup_location
0,fionasohyuru,Curly fries / Twister Fries (Taste exactly lik...,Twister fries (2.5kg),None,18.0,None,Meet-Up,3,New,None
1,purple0603,Brand new in original macdonald packaging\r\rC...,Hello Kitty - Macdonald Royal Series,None,50.0,None,None,3,None,None

#### 1. What is the average number of likes across all listings?

In [31]:
query_avg_like= '''

select 
avg(likes) 
FROM listings 

'''
avg_like = sqlite_query_df(query_avg_like)
avg_like

Sqlite connect OK

   avg(likes)
0   13.789954

####  2. What is the average number of likes for used listings?

In [55]:
query_avg_like_used= '''

select 
avg(likes) 
FROM listings 
WHERE condition == 'Used'
'''
avg_like_used = sqlite_query_df(query_avg_like_used)
avg_like_used

Sqlite connect OK

   avg(likes)
0    5.418033

#### 3. What is the average price for all the listings with mcdonald keyword in the title? (Hint: include all variations of mcdonalds)

In [44]:
query_avg_price_m_keyword= '''

select 
avg(price) 
FROM listings 
WHERE 
LOWER(title)  like '%%mcdonalds%%'
'''
avg_price_m_keyword = sqlite_query_df(query_avg_price_m_keyword)
avg_price_m_keyword

Sqlite connect OK

   avg(price)
0    24.26087

#### 4. Find the number of listings unrelated to Mcdonalds.

In [62]:
query_num_unrelated_m= '''


WITH LIST AS (

SELECT * FROM 
listings 
WHERE 

LOWER(title) NOT like '%%mcdonalds%%' 
AND
LOWER(description) NOT like '%%mcdonalds%%'

)

select 
COUNT(*)
FROM LIST 


'''
num_unrelated_m = sqlite_query_df(query_num_unrelated_m)
num_unrelated_m

Sqlite connect OK

   COUNT(*)
0      2427

DONT know if "MacDonald" is related to "Mcdonalds"  :)

#### 5. List the usernames of the top 3 sellers with the highest number of positive ratings.

In [70]:
query_top_3_seller= '''

select 
* 
FROM reviews 
ORDER BY  positive DESC 
LIMIT 3

'''
top_3_seller = sqlite_query_df(query_top_3_seller)
top_3_seller

Sqlite connect OK

                username  negative  neutral  positive
0                    bxs         0        0      1229
1       hardrockseller99         1        0       920
2  hellomisterneospacian         3        2       760

#### 6.  What is the total number of sellers with more than 200 reviews?

In [122]:
query_review= '''

SELECT count(*)
FROM
  ( SELECT username,
           sum(negative) + sum(positive) + sum(neutral) AS sum_
   FROM reviews
   GROUP BY 1
   HAVING sum_ > 200
   ORDER BY sum_ DESC) sub

'''
review = sqlite_query_df(query_review)
review

Sqlite connect OK

   count(*)
0        66

#### 7. What is the total number of users with only positive reviews?

In [126]:
query_only_positive_review= '''

SELECT count(*)
FROM
  ( SELECT 
  username,
  sum(negative),
  sum(positive), 
  sum(neutral)
           
   FROM reviews
   GROUP BY 1
   HAVING sum(negative) = 0
   and sum(neutral) = 0
   and sum(positive) > 0
   ) sub

'''
positive_review = sqlite_query_df(query_only_positive_review)
positive_review

Sqlite connect OK

   count(*)
0      1231

#### 8.  What is the total number of listings by users with only positive reviews?

In [133]:
query_list_positive_review= '''

WITH user_list AS
  ( SELECT username
   FROM reviews
   GROUP BY 1
   HAVING sum(negative) = 0
   AND sum(neutral) = 0
   AND sum(positive) > 0)
SELECT count(*)
FROM listings
JOIN user_list ON listings.username = user_list.username
ORDER BY listings.username
   
  

'''
list_positive_review = sqlite_query_df(query_list_positive_review)
list_positive_review

Sqlite connect OK

   count(*)
0      1890

#### 9.  For the top 3 sellers with the highest number of listings, list their usernames, total listings and the total value of their listings

In [83]:
query_top_user_detail= '''

select 
username,
count(username),
sum(price),
sum(likes)

FROM listings 
group by username
order by count(username) desc

limit 3 

'''
top_user_detail = sqlite_query_df(query_top_user_detail)
top_user_detail

Sqlite connect OK

     username  count(username)  sum(price)  sum(likes)
0    eliset08               62      2115.0         344
1      tmatma               56       695.0         172
2  scotty2198               24       663.0        3694

#### 10.  For the top 3 sellers with the most reviews, list their usernames, total listings, and total reviews in descending number of reviews received by each seller

In [72]:
listings

,username,description,title,can_mail,price,meetup_details,can_meetup,likes,condition,meetup_location
0,fionasohyuru,Curly fries / Twister Fries (Taste exactly lik...,Twister fries (2.5kg),None,18.0,None,Meet-Up,3,New,None
1,purple0603,Brand new in original macdonald packaging\r\rC...,Hello Kitty - Macdonald Royal Series,None,50.0,None,None,3,None,None
2,bakaarisu,From the macdonalds toy series _ÙÓ±\r\rWant to...,Pokemon Balls With Various Functions _ÙÔ_ÙÈ,None,2.0,None,Meet-Up,26,Used,None
3,lady_moiselle,Brand new in packaging\rMacdonald's happy meal...,MCD The Angry Birds Movie Toy [ BNIP ],Mailing or Delivery,3.0,keat hong lrt stn,Meet-Up,22,New,None
4,leefabian_ed,Common Room (Negotiable) $850 for 3 Pax $750 ...,2 Common Room & MASTERS Bedroom for rent,None,0.0,None,None,19,None,None
5,garrieneo,Recently bought to accompany my daughter bladi...,Fila Roller Blade Thetis Pro,None,76.0,None,None,24,Used,None
6,dynamic888,Male Room Sharing (2 in 1room) \r*Balestier Ro...,Male Share Room $400 @ Balestier road *No Owner,None,400.0,None,None,19,None,None
7,hotchoice,OPEN FOR VIEWING_ÙÔÎ\rÏ¬above #10floor Edgefi...,4A HDB Punggol Edgefield Plains,None,450000.0,Viewing by Appointment please_ÙÔ,Meet-Up,33,None,None
8,nines,Mcdonald Secret Life Of Pets Gidget\r\rWithout...,Mcdonald Secret Life Of Pets Gidget,None,15.0,None,None,0,None,None
9,kiwichua,None,Macdonald's Hamburglar,None,3.0,None,None,2,None,None
10,giftsboutique,All @ $4 MCD Macdonald Coke Contour Bottles \r...,All @ $4 MCD Macdonald Coke Contour Bottles,None,4.0,None,Meet-Up,1,New,None
11,zpphie,"Brand new set of usborne first reading, 50 boo...",BN Usborne My First Reading Library,Mailing or Delivery,88.0,None,Meet-Up,34,New,Singapore
12,thesmartbookworms,**Please note this is a pre order listing\rSui...,Usborne My First Reading Library - 50 books,None,86.0,None,None,8,New,None
13,rainbow_pumpkin,Brand new in packaging\r\rTags: #LoveBonito #L...,Macdonald Nano Block,None,55.0,None,None,22,None,None
14,obisidian,"4 in stock, $2 each\r\r*Prices are exclude mai...",MacDonald's Hamburglar Plush,None,2.0,None,None,4,None,None
15,joliene,About 15cm in length \r\rAble to pose as to wh...,Vintage MacDonald Toy,None,3.0,None,None,4,None,None
16,melvis31,Birdie and Hamburglar figurine (soft plushie) ...,"Macdonald""s Soft Plushie Figurines",None,3.0,None,None,2,None,None
17,fixit8877,Limited Edition Rio 2016 Mac Swimming Theme Gl...,Rio 2016 Olympics MacDonalds Swimming Theme Glass,None,100.0,Chinese Gdn MRT,Meet-Up,4,New,Singapore
18,babychanel,Like new\rNo nego\r\rMacdonald bless,Hello Kitty Plush Toy,None,2.0,None,None,4,None,None
19,bhuvan,Pre-Loved Raleigh Mini Velo M7. \r\rVery upgra...,Raleigh MV 7 Mini Velo,None,200.0,Weekdays after 7pm\rWeekends PM to arrange,Meet-Up,8,Used,None
20,crazyhighway,Blessings for all Macdonalds HappyMealToys.\rA...,RESERVED- Blessings For All Macdonalds HappyMe...,None,0.0,None,Meet-Up,12,New,None
21,spheng,This Leapfrog Farm Magnetic Set comes complete...,Leapfrog Farm Magnetic Mash Up,None,20.0,None,None,5,None,None
22,romanceanvenus,Old MacDonald Foldable Activity Blanket\r\rBNW...,Old MacDonald Foldable Activity Blanket,None,10.0,yishun,Meet-Up,2,New,Singapore
23,woodynfriends,2016 Macdonald Hello Kitty *10pc Set*\r\rEta: ...,2016 Macdonald Hello Kitty *10pc Set*,None,80.0,None,None,3,New,None
24,iz99_,I'm looking for part-time/daily pay jobs.\r\rM...,I'm Looking For Part-time/Daily Pay Jobs,None,0.0,Yio chu kang mrt,Meet-Up,8,None,Singapore
25,matching,Macdonalds ty Bears\r\rBrand New \r\rAssorted ...,Macdonalds ty Bears,None,5.0,None,None,2,None,None
26,kksz1102,Selling MacDonald hello Kitty that was launche...,1999 MACDONALD HELLO KITTY _Ù÷È,Mailing or Delivery,20.0,None,Meet-Up,1,None,Singapore
27,sweetsorrows,Well kept in plastic bag. \rNo defects\rComes ...,Hello kitty Set! Brand New Condition!,None,0.0,None,None,4,None,None
28,mrsangel7376,"Hi people, I m the rightful owner for the flat...",Looking for Single Tenant,None,650.0,None,None,10,New,None
29,notrade_lovecoaches,Individual $6 each\r\rWhole set @$60,Hello Kitty Macdonald Special Edition 16 In A Set,None,6.0,None,None,0,None,None
...,...,...,...,...,...,...,...,...,...,...
2598,jonathan.tan.54,Selling 2 for sgd 6,Macdonald Nano Block,None,3.0,PM me for place to meet up town or east area p...,Meet-Up,4,New,Singapore
2599,mycreations,Let's Be Friends Forever. McDonald Winnie The ...,MacDonald Winnie the Pooh Friendship Day Stickers,None,4.0,None,None,167,None,None
2600,karnananana,still in great condition \rWithout packaging \...,Macdonalds Minion collectibles toy,None,2.0,None,None,193,None,None
2601,thesmartbookworms,**Please note this is a pre order listing\rSui...,Usborne Picture Book Collection - 20 books,None,100.0,None,None,4,New,None
2602,thesmartbookworms,Please note this is a pre order listing\r\r**S...,I Am Reading Collection - 10 Books,None,50.0,None,None,1,New,None
2603,scotty2198,"He might be gloomy, but cute and cuddly plush....",Disney Winnie the Pooh & Friend Eeyore Soft Do...,None,15.0,Vivocity Macdonald or Cityhall Mrt\rWeekday 6:...,Meet-Up,105,None,Singapore
2604,woodynfriends,2016 Macdonald Hello Kitty *10pc Set*\r\rEta: ...,2016 Macdonald Hello Kitty *10pc Set*,None,80.0,None,None,2,New,None
2605,aleyx,BNIP \r\rLimited Edition\r\r17cm tall\r\rSelli...,MacDonald's Hello Kitty (School Theme),Mailing or Delivery,15.0,None,Meet-Up,66,New,Singapore
2606,moneysham135,No Agency Fee /Direct owner couple\r\r___...,Air-con Room At Bedok Reservoir Rd,None,0.0,None,None,16,None,None
2607,aleyx,BNIP\r\rChinese Wedding\r\rSince year 2000\rAu...,MacDonald's Hello Kitty (Wedding),Mailing or Delivery,20.0,None,Meet-Up,69,New,Singapore
2608,clxyz,Brand new\rSize: 5.5*4cm,MacDonald Nano Fries,None,5.0,None,None,40,None,None
2609,aleyx,All BNIP Ï¬\rStill in box\r\rAvailable in ;\r...,Shops Nanoblocks Lego,None,10.0,None,None,113,None,None
2610,cheesebananashop,- Xiaomi Scale ¡±__Òà¤_ for sale. \r- S...,(20Aug16)~Xiaomi Scale ¡±__Òà¤_ (Brand ...,None,33.0,None,Meet-Up,13,New,Singapore
2611,need_space,Coca-Cola and McDonaldÛªs Kick Off the 2010 F...,Brand New Coca Cola Glasses,None,3.0,None,None,3,None,None
2612,shawnk,1) Wizard of Oz \r2) Chinese New Year Limited ...,Macdonalds Hello Kitties,None,5.0,Mon - Fri before 630pm. Chinatown MRT. \rSun f...,Meet-Up,6,None,None
2613,nines,Mcdonald Secret Life Of Pets Gidget\r\rWithout...,Mcdonald Secret Life Of Pets Gidget,None,15.0,None,None,5,None,None
2614,need_space,Celebrate the London 2012 Olympic Games at McD...,McDonald's with Coca-Cola London 2012 Olympic ...,None,3.0,None,None,11,None,None
2615,whydotheyevenbother,"Selling 6 RARE (Last years event, won't happen...",RARE Macdonald Collectible Plush Toys,None,6.0,None,None,12,None,None
2616,need_space,Brand New in macdonalds plastic bag.\r\rAvaila...,Limited edition colored ÛÏCoca-ColaÛ Contou...,None,3.0,None,None,6,None,None
2617,allyin,"Unopened, still in packaging.\r\rMacDonald's H...",BNIP Happy Meal Gidget Toy,Mailing or Delivery,2.0,None,None,4,New,None
2618,daffron,"Renting common room at Bedok North blk 54X, 3 ...",Room Rental At Bedok North Small Room Or Commo...,None,300.0,None,None,12,Used,None
2619,toycollector777,All for $10. Will not split. Self collect at W...,Barbie Lot,None,6.0,None,None,15,None,None
2620,happeemommie,"Well kept, condition like new.\rLimited Hello ...",Hello Kitty In Character Costumes,None,15.0,None,None,5,None,None
2621,kyle_seet,Brand new cups. Tied since purchase till now.\...,Macdonald Olympic 2012 Cups,None,6.0,Tanjong Pagar / Outram,Meet-Up,2,New,Singapore
2622,thejfamily,1) Wildlife Siberian Tiger 2) Wildlife African...,1994 MacDonald Wild Life Collection,Mailing or Delivery,20.0,None,Meet-Up,2,New,None
2623,alsts,Brand new\r\rPrice fix\r\rSelf collect only ->...,Mc Happy Bear - Hamburgler,None,10.0,None,Meet-Up,14,New,None
2624,cutelmo,Selling Brand new Soft leather range tote bag....,BN Mont Blanc Leather Goods Soft Leather Range...,None,0.0,None,None,27,None,None
2625,ng_ming_jie,"$15 each. One of each left, sold the green one...",Hello Kitty plush toy from MacDonalds,None,15.0,None,Meet-Up,2,New,None
2626,torquedrag2004,WWW.SGSPEER.COM\rBrand New in stock\rBUY 5 FRE...,Loz Building Block Stackable Display Case Set ...,None,4.0,None,None,16,None,None
2627,patchmeupstore,They don't call you a foodie for nothing. Whet...,The Food Junkie Set,None,3.0,None,None,273,None,None